{% extends 'spacexApp/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Launch Cast</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body> 
    
    <div id="banner">
        <div class="content">
            <h1>SpaceX Launch Cast</h1>
        </div>
    </div>

    <div id ="main" class="content"> 
        <h2>Launch Dates and Times<h2>

    </div>

   <!--<div id="next-launch" class="timer">
        <h1>Upcoming Launch</h1>
        {% for i in all_data %}
        <h1 class="up-launch">{{i.launch}}</h1>
        {% endfor %}
    </div> -->
    
</body>
</html>

{% endblock %}